.preview{
	/*padding: 5px;*/
	width: 100%;
	font-size: 12px;
	/*padding-bottom: 8px;*/
	/*padding-top: 8px;*/
	display: none;
	border: 1px solid #b3b3b3;
	float: left;
}
.previewImages, .previewImage{
	max-width: 472px;
	height: 246px;
	/*margin-right: 12px;*/
/* 	float: left; */
	color: transparent;
}
.previewButtons{
	display: none;
	height: 0;
	/*background-image: linear-gradient(to bottom, #ffffff 60%, #f9f9f9 100%);*/
	/*border-bottom: 1px solid #CCCCCC;*/
}
.previewContent{
	font-size: 11px;
 	max-width: 472px;
	width: 100%;
	padding: 10px;
/* 	float: right; */
}
.previewTitle{
	font-size: 18px;
	margin-bottom: 10px;
}
.previewTitle a{
	margin: 0 auto 0 auto;
}
.previewUrl{
	font-size: 12px;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
    text-transform: uppercase;
    color: #999;
}
.previewDescription{
	margin-bottom: 10px;
    font-size: 14px;
	line-height: 18px;
}
.previewTitle span, .previewDescription span{
	cursor: pointer;
	word-break: break-word;
}
.buttonLeftActive{
/* 	background-image: url('../../../../Downloads/Facebook-Link-Preview-master/img/selectionButtons.gif'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: 0 -83px; */
	/*width: 25px;*/
	/*height: 22px;*/
	float: right;
	cursor: pointer;
	position: relative;
	top: -243px;
	right: 33px;
	display: inline;
}
.buttonRightActive{
/* 	background-image: url('../../../../Downloads/Facebook-Link-Preview-master/img/selectionButtons.gif'); */
/* 	background-repeat: no-repeat; */
	float: right;
	cursor: pointer;
	position: relative;
	top: -243px;
	right: -28px;
	display: inline;
}
.buttonLeftDeactive{
/* 	background-image: url('../../../../Downloads/Facebook-Link-Preview-master/img/selectionButtons.gif'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: -50px -83px; */
	float: right;
	position: relative;
	top: -243px;
	right: 33px;
	display: inline;
}
.buttonLeftDeactive > span.btn, .buttonLeftDeactive > span.btn:hover {
	cursor: default;
	opacity: 0.5;
	background: rgba(0,0,0,0.5) !important;
	border-color: #CCCCCC !important;
}
.buttonRightDeactive{
/* 	background-image: url('../../../../Downloads/Facebook-Link-Preview-master/img/selectionButtons.gif'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: -75px -83px; */
	float: right;
	cursor: inherit;
	position: relative;
	top: -243px;
	right: -28px;
	display: inline;
}
.buttonRightDeactive > span.btn, .buttonRightDeactive > span.btn:hover {
	cursor: default;
	opacity: 0.5;
	background: rgba(0,0,0,0.5) !important;
	border-color: #CCCCCC !important;
}
.buttonRightDeactive > span.btn-preview:active, .buttonLeftDeactive > span.btn-preview:active {
	-webkit-box-shadow:  none;
}
.buttonLeftActive:active{
/* 	background-image: url('../../../../Downloads/Facebook-Link-Preview-master/img/selectionButtons.gif'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: -100px -83px; */
}
.buttonRightActive:active{
/* 	background-image: url('../../../../Downloads/Facebook-Link-Preview-master/img/selectionButtons.gif'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: -125px -83px; */
}
.photoNumbers{
	font-size: 10px;
	margin-top: 5px;
	float: left;
	margin-right: 10px;
}
.chooseThumbnail{
	font-size: 10px;
	color: #999;
	margin-top: 5px;
	float: left;
}
.previewLoading{
	float: right;
	margin-bottom: 2px;
	margin-right: 14px;
	border: 1px solid transparent;
	height: 12px;
}
.linkPreview, #retrieveFromDatabase{
	margin: 0 auto 15px auto;
	width: 100%;
	border: 1px solid #CCCCCC;
	max-width: 474px;
}
.noThumbDiv{
	color: #333;
	font-size: 11px;
}
.noThumbCb{
	vertical-align: -2px;
	margin-right: 4px;
	margin-left: 0px;
	float: left;
}
.nT{
	float: left;
	width: 270px;
	margin-top: 3px;
	cursor: pointer;
}
.inputPreview{
	/*margin-left: -2px;*/
	font-size: 18px;
	/*padding: 3px 1px;*/
}
.previewInputDescription {
    width: 100%;
}
.previewInputTitle {
    width: 100%;
}
.text{
	width: 499px;
	height: 60px;
	border: 1px solid #b3b3b3;
	border-bottom: 1px solid #e6e6e6;
	resize: none;
	padding: 5px;
	color: grey;
}
.closePreview {
  color: red;
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 15px;
  position: relative;
  right: -15px;
  top: -15px;
  width: 15px;
}
.closePreview:hover{
/* 	background-image: url('../../../../Downloads/Facebook-Link-Preview-master/img/close.png'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: left -32px; */
}
.closePreview:active{
/* 	background-image: url('../../../../Downloads/Facebook-Link-Preview-master/img/close.png'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: left -48px; */
}
.postPreviewButton{
	padding: 4px 16px;
/* 	background-image:  url('../../../../Downloads/Facebook-Link-Preview-master/img/backgrounds.png'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: 0 -49px; */
	background-color: #5B74A8;
	border-color: #29447E #29447E #1A356E;
	border: 1px solid #1a356e;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	color: white;
	float: right;
}
.postPreviewButton:active{
	background-image: none;
	background: #4f6aa3;
}
.postPreview{
	background: #f2f2f2;
	padding: 2px;
	border: 1px solid #b3b3b3;
	border-top: 0px;
	width: 505px;
	margin-bottom: 20px;
	margin-top: -1px;
}

.previewPosted{
	padding: 5px;
	width: 499px;
	color: black;
	margin-bottom: 20px;
	font-size: 12px;
	/*border: 1px dashed #b3b3b3;*/
	float: left;
}
.previewPosted a{
	color: #3B5998;
}
.previewPosted a:hover{
	text-decoration: underline;
	color: #3B5998;
}
.previewImagesPosted{
	width: 130px;
	margin-right: 12px;
	float: left;
	cursor: pointer;
}
.previewContentPosted{
	font-size: 11px;
	width: 355px;
	float: left;
}


.previewTitlePosted, .previewTitlePosted a{
	font-weight: bold;
	font-size: 12px;
	margin: 0 auto 2px auto;
	color: #3B5998;
}
.previewTitlePosted a:hover{
	text-decoration: underline;
	color: #3B5998;
}
.previewUrlPosted, .previewUrlPosted a{
	color: gray !important;
	font-size: 11px;
	margin: 0 auto 9px auto;
	overflow: hidden;
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
}
.previewUrlPosted a:hover{
	color: #3B5998;
	text-decoration: underline;
}
.previewDescriptionPosted{
	margin: 0 auto 8px auto;
}
.previewTitlePosted span{ 
	cursor: pointer;
	word-break: break-word;
}
 .previewDescriptionPosted span{ 
	word-break: break-word;
	color: gray;
}
.previewTextPosted{
	margin-bottom: 10px;
	word-break: break-word;
}
.videoPostPlay{
	background-image: url('../../../../Downloads/Facebook-Link-Preview-master/img/play.png');
	bottom: 5px;
	height: 26px;
	left: 5px;
	width: 35px;
	float: left;
	z-index: 1;
	margin-left: 5px;
	margin-top: -31px;
}

#contentLinkContainer {
	width: 100%;
}

.linkPreviewContainerBox {
	max-width: 474px;
	width: 100%;
	margin: 0 auto 15px auto;
}

.btn-preview {
	background: rgba(0,0,0,0.5);
	color: #FFFFFF;
	padding: 2px 9px;
}

.btn-preview.focus, .btn-preview:focus, .btn-preview:hover {
	color: #FFFFFF !important;
	background: rgba(0,0,0,0.8);
	border-color: #FFFFFF !important;
}

.btn-preview:focus, .btn-preview:active {
	-webkit-box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
}

.fileContainer {
	overflow: hidden;
	position: relative;
	top: -243px;
	right: 6px;
	padding: 4px 9px;
	float: right;

}

.fileContainer [type=file] {
	cursor: pointer;
	display: block;
	filter: alpha(opacity=0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}

.img-preview {
	border-bottom: 1px solid #CCCCCC;
}