li{
    list-style: none;
}
textarea {
    min-height: 40px;
    overflow: auto;
    resize: vertical;
    width: 100%;
}
.seo-sidebar {
  background: #0095df none repeat scroll 0 0;
  display: table-cell;
  max-width: 150px;
  min-width: 140px;
  padding: 20px 0;
  position: relative;
  vertical-align: top;
  z-index: 2;
}
.menu-space-area{
    background: #0095df none repeat scroll 0 0;
}
.side-seo {
  text-align: center;
  padding-bottom: 50px;
}
.side-seo img {
  height: auto;
  margin: 0 auto;
  max-width: 80px;
}
.task_section_children {
  display: none;
}

.page-wrapper {
    background-color: #f5f1ed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     box-shadow: #000 -1px 0 4px;
    display: table;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
}
/*header start here*/
header {
    display: block;
}
/*logo */
.logo {
    display: inline-block;
    margin: 15px 0px 15px 40px;
}
.logo a {
     background-size: 124px 60px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 60px;
    padding: 0;
    width: 124px;
    z-index: 1;
}
/*header right side area*/
.headerpoints{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
    float: right;
    height: 54px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    margin: 15px 40px 15px 0;
    padding: 0 10px;
}
.headerpoints li {
    color: #a8a8a8;
    float: left;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    padding: 10px 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.headerpoints li b {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 700;
}
.headerpoints li b small {
    color: #a8a8a8;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 9px;
}
/*header right side area*/
/*header end here*/

.fullwidthcol {
    display: table-row;
    height: 100%;
}
.fullwidthcol {
    display: table-row;
    height: 100%;
}
a.expandfunctioncol, a.collapsefunctioncol {
    color: #a29e98;
    display: none;
    font-size: 24px;
    font-weight: 600;
    height: 35px;
    right: 0px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 40px;
}
.functioncol {
    display: table-cell;
    height: 100%;
    padding-bottom: 40px;
    vertical-align: top;
    min-width: 320px;
    position: relative;
}
.functioncol h3 {
    color: #45545f;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 20px 15px 0 15px;
    position: relative;
    text-shadow: #fff 0 1px 0;
    text-transform: uppercase;
    font-family: 'OpenSansRegular';
}
.functioncol div:first-child h3 {
    border-top: 1px solid #e0dcd7;
    -webkit-box-shadow: rgba(255,255,255,0.8) 0 1px 0 inset;
    -moz-box-shadow: rgba(255,255,255,0.8) 0 1px 0 inset;
    box-shadow: rgba(255,255,255,0.8) 0 1px 0 inset;
    margin-top: 0;
}
.task_section_children{
    position:0 0 0 10px;
}

.functioncol h3::before {
    color: #333;
    display: block;
    font-size: 21px;
    font-weight: 400;
    left: 15px;
    margin-top: 3px;
    position: absolute;
    content: "";
    width: 50px;
    top: 17px;
}
.functioncol h3 a:visited {
    color: #45545f;
    text-decoration: none;
}
a {
    color: #45545f;
    text-decoration: underline;
}
.functioncol h3 a {
    color: #45545f;
    text-decoration: none;
}
.progressbar {
    background-color: #e0dcd7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset, #fff 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset,#fff 0 1px 0;
    box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset, #fff 0 1px 0;
    margin: 0 0 5px 15px;
    padding: 2px;
    width: 256px;
}
.pointbox, .pointboxlarge {
    background-color: #74828d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset, #fff 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset,#fff 0 1px 0;
    box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset, #fff 0 1px 0;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    float: right;
    line-height: 18px;
    margin: -5px 9px 0 0;
    padding: 0 3px;
    text-align: center;
    text-shadow: rgba(0,0,0,0.25) 0 1px 0;
    width: 20px;
}
.pointbox, .pointboxlarge {
    background-color: #74828d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset, #fff 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset,#fff 0 1px 0;
    box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset, #fff 0 1px 0;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    float: right;
    line-height: 18px;
    margin: -5px 9px 0 0;
    padding: 0 3px;
    text-align: center;
    text-shadow: rgba(0,0,0,0.25) 0 1px 0;
      font-family: 'OpenSansRegular';
    width: 20px;
}
.bar {
    background-color: #45545f;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #74828d), color-stop(100%, #45545f));
    background-image: -webkit-linear-gradient(top, #74828d,#45545f);
    background-image: -moz-linear-gradient(top, #74828d,#45545f);
    background-image: -o-linear-gradient(top, #74828d,#45545f);
    background-image: linear-gradient(top, #74828d,#45545f);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    height: 5px;
    width: 2%;
}
.functioncol .functionlist {
    border-bottom: 1px solid #e0dcd7;
    -webkit-box-shadow: rgba(255,255,255,0.8) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.8) 0 1px 0;
    box-shadow: rgba(255,255,255,0.8) 0 1px 0;
    margin: 0;
     position: relative;
    overflow: hidden;
}
.functioncol .functionlist li {
    font-size: 12px;
    font-weight: 700;
}
.functioncol .functionlist a {
    color: #a29e98;
    display: block;
    padding: 9px 5px 8px 10px;
    text-decoration: none;
    text-shadow: #fff 0 1px 0;
    text-transform: uppercase;
}
.functioncol .functionlist a.on {
    color: #504d4b;
    background-color: #e0dcd7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset, #fff 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset,#fff 0 1px 0;
    box-shadow: rgba(0,0,0,0.25) 0 1px 1px inset, #fff 0 1px 0;
    position: relative;
    text-shadow: #fff 0 1px 0;
}
.functioncol .functionlist a[data-icon]:before {
    color: #a29e98;
    font-size: 20px;
    font-weight: 400;
    padding-right: 8px;
    vertical-align: middle;
}
.functioncol .functionlist a.on[data-icon]:before {
    color: #504d4b;
}
.functioncol .functionlist a small {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 9px;
    font-style: italic;
    padding-left: 5px;
    text-transform: none;
}
.functioncol .functionlist a.on:after {
    border: solid transparent;
    border-color: rgba(255,255,255,0);
    border-right-color: #fff;
    border-width: 8px;
    content: " ";
    height: 0;
    margin-top: -6px;
    position: absolute;
    pointer-events: none;
    right: -6px;
    top: 50%;
    width: 0;
}
.functioncol .functionlist li ul {
    margin-bottom: 10px;
}
.functioncol .functionlist li {
    font-size: 12px;
    font-weight: 700;
    font-family: 'OpenSansRegular';
}
.functioncol .functionlist li ul a {
    padding-left: 0px;
}   

/*right side section area*/
.contentcol {
    background-color: #fff;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 2px 5px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 2px 5px;
    box-shadow: rgba(0,0,0,0.3) 0 2px 5px;
    display: table-cell;
    height: 100%;
    vertical-align: top;
    width: 100%;
    font-family: 'OpenSansRegular';
}
.upgradehookbox.nocardupgrade {
    border-bottom: none;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
.upgradehookbox {
    background-color: #cbdbee;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4e5fa), color-stop(100%, #a8c1e0));
    background-image: -webkit-linear-gradient(#d4e5fa,#a8c1e0);
    background-image: -moz-linear-gradient(#d4e5fa,#a8c1e0);
    background-image: -o-linear-gradient(#d4e5fa,#a8c1e0);
    background-image: linear-gradient(#d4e5fa,#a8c1e0);
    border: 1px solid #b2c8d9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    clear: both;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding: 10px;
    text-align: center;
}
.upgradehookbox button.btncolored:visited, .upgradehookbox a.btncolored:visited {
    background-color: #f7921e;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7931e), color-stop(100%, #f05a29));
    background-image: -webkit-linear-gradient(#f7931e,#f05a29);
    background-image: -moz-linear-gradient(#f7931e,#f05a29);
    background-image: -o-linear-gradient(#f7931e,#f05a29);
    background-image: linear-gradient(#f7931e,#f05a29);
    color: #fff;
    font-weight: 700;
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
}
.upgradehookbox.repmannotify {
    margin: 10px 0 20px 0;
    border-top: none;
    border-bottom: none;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
.content {
    height: 100%;
    padding: 46px 40px 40px;
    position: relative;
}
.docked.upperright {
    right: 40px;
    top: 10px;
        font-size: 12px;
    padding: 5px 15px;
}
.docked {
    display: block;
    position: absolute;
}
.breadcrumbs {
    margin: -38px 0 12px -4px;
}
.breadcrumbs li {
    display: inline-block;
    color: #a8a8a8;
    font-size: 10px;
    font-style: italic;
}
.breadcrumbs li a {
    color: #a8a8a8;
    display: inline-block;
    padding: 0 9px 0 4px;
    text-decoration: none;
}
.breadcrumbs li:after {
    content: "/";
}
.breadcrumbs li:last-child {
    font-style: normal;
    font-weight: 700;
}
.breadcrumbs li:last-child a {
    color: #818080;
}
.upgradehookbox button.btncolored, .upgradehookbox a.btncolored {
    background-color: #45545f;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #74828d), color-stop(100%, #45545f));
    background-image: -webkit-linear-gradient(top, #74828d,#45545f);
    background-image: -moz-linear-gradient(top, #74828d,#45545f);
    background-image: -o-linear-gradient(top, #74828d,#45545f);
    background-image: linear-gradient(top, #74828d,#45545f);
    border: none;
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 10px;
}
.upgradehookbox button.btncolored:hover, .upgradehookbox a.btncolored:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e27120), color-stop(100%, #df5326));
    background-image: -webkit-linear-gradient(#e27120,#df5326);
    background-image: -moz-linear-gradient(#e27120,#df5326);
    background-image: -o-linear-gradient(#e27120,#df5326);
    background-image: linear-gradient(#e27120,#df5326);
}
.upgradehookbox.repmannotify .close_notification {
    margin: 0 0 0 10px;
    text-decoration: none;
}
button.btncolored, a.btncolored, input[type="reset"].btncolored, input[type="submit"].btncolored, input[type="button"].btncolored {
    background-color: #f68712;
    background-image: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f79126), color-stop(100%, #e17809));
    background-image: -webkit-linear-gradient(#f79126,#e17809);
    background-image: -moz-linear-gradient(#f79126,#e17809);
    background-image: -o-linear-gradient(#f79126,#e17809);
    background-image: linear-gradient(#f79126,#e17809);
    border-color: #eb7d09 #d77208 #c36807;
    color: #fff;
    font-weight: 700;
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
}

a:visited {
    color: #45545f;
    text-decoration: underline;
}
a:link {
    color: #45545f;
    text-decoration: underline;
}
button.smallbtn, span.button.smallbtn, a.button.smallbtn, input[type="reset"].smallbtn, input[type="submit"].smallbtn, input[type="button"].smallbtn {
    font-size: 12px;
    padding: 5px 15px;
}
button:visited, span.button:visited, a.button:visited, input[type="reset"]:visited, input[type="submit"]:visited, input[type="button"]:visited {
    text-decoration: none;
}
button, span.button, a.button, input[type="reset"], input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: #ddd url(/images/button.png) repeat-x;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(#ffffff,#dddddd);
    background-image: -moz-linear-gradient(#ffffff,#dddddd);
    background-image: -o-linear-gradient(#ffffff,#dddddd);
    background-image: linear-gradient(#ffffff,#dddddd);
    border: 1px solid;
    border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #333;
    display: inline-block;
    font: bold 16px/1.3 "Open Sans","Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
    outline: 0;
    overflow: visible;
    margin: 0;
    padding: 5px 50px;
    text-shadow: #fff 0 1px 1px;
    text-decoration: none;
    vertical-align: top;
    width: auto;
}
.sectionlinks {
    float: right;
    height: 35px;
    margin: 8px 0 20px 20px;
    width: 82px;
}
.sectionlinks a:first-child {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid #fff;
    width: 39px;
}
.sectionlinks a:visited {
    color: #a29e98;
    text-decoration: none;
}
.sectionlinks a {
    background-color: #eee9e4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f2ed), color-stop(100%, #eee9e4));
    background-image: -webkit-linear-gradient(top, #f7f2ed,#eee9e4);
    background-image: -moz-linear-gradient(top, #f7f2ed,#eee9e4);
    background-image: -o-linear-gradient(top, #f7f2ed,#eee9e4);
    background-image: linear-gradient(top, #f7f2ed,#eee9e4);
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #a29e98;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-shadow: #fff 0 1px 0;
    width: 40px;
}
a.prevsectionlink[data-icon]:before {
    display: block;
    margin-top: 0;
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
    text-shadow: #fff 0 -1px 0;
}
.sectionlinks a[data-icon]:before {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    margin-top: -3px;
    padding: 0;
    vertical-align: middle;
}
.sectionlinks a span {
    display: none;
}
.establish-heading {
    color: #f58209;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
    margin: 0 0 18px 0;
}
p ul {
    margin-top: 0px;
    margin-bottom: 40px;
}
 strong{
    font-weight: 700px;
}
.Establish-peragraf {
    margin-top: 0px;
    margin-bottom: 40px;
    line-height: 24px;
}
.tasks {
    position: relative;
}
.tabbar_container {
    border-top: 1px solid #e0dcd7;
    margin-top: 60px;
    position: relative;
}
button.btncolored:hover, a.btncolored:hover, input[type="reset"].btncolored:hover, input[type="submit"].btncolored:hover, input[type="button"].btncolored:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb7d09), color-stop(100%, #d77208));
    background-image: -webkit-linear-gradient(#eb7d09,#d77208);
    background-image: -moz-linear-gradient(#eb7d09,#d77208);
    background-image: -o-linear-gradient(#eb7d09,#d77208);
    background-image: linear-gradient(#eb7d09,#d77208);
}
a.tasknextbtn {
    clear: both;
    margin-top: 30px;
}
button.btncolored, a.btncolored, input[type="reset"].btncolored, input[type="submit"].btncolored, input[type="button"].btncolored {
    background-color: #f68712;
    background-image: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f79126), color-stop(100%, #e17809));
    background-image: -webkit-linear-gradient(#f79126,#e17809);
    background-image: -moz-linear-gradient(#f79126,#e17809);
    background-image: -o-linear-gradient(#f79126,#e17809);
    background-image: linear-gradient(#f79126,#e17809);
    border-color: #eb7d09 #d77208 #c36807;
    color: #fff;
    font-weight: 700;
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
}
/*-inner page coding start here-*/
.taskfunctions li a:hover {
    color: #fff;
    text-decoration: none;
}
.taskfunctions li a {
    color: #968d81;
    display: block;
    font-size: 10px;
    font-weight: 700;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
}
a:hover {
    color: #74828d;
    text-decoration: none;
}
a:visited {
    color: #45545f;
    text-decoration: underline;
}
.noopentasksmessage {
    margin-top: 20px;
}
.tabbar {
    height: 39px;
    margin: 0;
    position: absolute;
    top: -40px;
    padding: 0;
}
.tasks {
    position: relative;
}
.tabbar_container {
    border-top: 1px solid #e0dcd7;
    margin-top: 60px;
    position: relative;
}
.tabbar li {
    float: left;
    margin: 0 5px 5px 0;
}
.tabbar li a.on:visited {
    color: #504d4b;
}
.tabbar li a:visited {
    color: #a29e98;
    text-decoration: none;
}
.tabbar li a.on {
    background-color: #fff;
    background-image: none;
    border-top: 1px solid #e0dcd7;
    border-right: 1px solid #e0dcd7;
    border-bottom: 3px solid #fff;
    border-left: 1px solid #e0dcd7;
    color: #504d4b;
    font-weight: 700;
    height: 41px;
}
.tabbar li a.on:visited {
    color: #504d4b;
}
a:visited {
    color: #45545f;
    text-decoration: underline;
}
a:link {
    color: #45545f;
    text-decoration: underline;
}
.tabbar li a {
    display: block;
    background-color: #eee9e4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f2ed), color-stop(100%, #eee9e4));
    background-image: -webkit-linear-gradient(top, #f7f2ed,#eee9e4);
    background-image: -moz-linear-gradient(top, #f7f2ed,#eee9e4);
    background-image: -o-linear-gradient(top, #f7f2ed,#eee9e4);
    background-image: linear-gradient(top, #f7f2ed,#eee9e4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #a29e98;
    font-size: 11px;
    font-weight: 600;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 24px
}
.taskmoveall {
    padding: 12px 0;
    position: relative;
}
.clearfix {
    zoom: 1;
}
.taskmoveall a.button {
    float: right;
    margin: 4px;
}
.bulktool .assign_container {
    margin: 3px 0;
}
.taskmoveall .assign_container {
    float: right;
    font-size: 12px;
    margin: 3px 0;
}
.assign_container {
    margin-bottom: 20px;
}
.clearfix {
    zoom: 1;
}
.taskmoveall .btn_moveall_cancel, .taskmoveall .btn_moveall_update {
    display: none;
}
button:visited, span.button:visited, a.button:visited, input[type="reset"]:visited, input[type="submit"]:visited, input[type="button"]:visited {
    text-decoration: none;
}
button.btncolored, a.btncolored, input[type="reset"].btncolored, input[type="submit"].btncolored, input[type="button"].btncolored {
    background-color: #f68712;
    background-image: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f79126), color-stop(100%, #e17809));
    background-image: -webkit-linear-gradient(#f79126,#e17809);
    background-image: -moz-linear-gradient(#f79126,#e17809);
    background-image: -o-linear-gradient(#f79126,#e17809);
    background-image: linear-gradient(#f79126,#e17809);
    border-color: #eb7d09 #d77208 #c36807;
    color: #fff;
    font-weight: 700;
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
}
button, span.button, a.button, input[type="reset"], input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: #ddd url(/images/button.png) repeat-x;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(#ffffff,#dddddd);
    background-image: -moz-linear-gradient(#ffffff,#dddddd);
    background-image: -o-linear-gradient(#ffffff,#dddddd);
    background-image: linear-gradient(#ffffff,#dddddd);
    border: 1px solid;
    border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #333;
    display: inline-block;
    font: bold 16px/1.3 "Open Sans","Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
    outline: 0;
    overflow: visible;
    margin: 0;
    padding: 5px 50px;
    text-shadow: #fff 0 1px 1px;
    text-decoration: none;
    vertical-align: top;
    width: auto;
}
button.btncolored:hover, a.btncolored:hover, input[type="reset"].btncolored:hover, input[type="submit"].btncolored:hover, input[type="button"].btncolored:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb7d09), color-stop(100%, #d77208));
    background-image: -webkit-linear-gradient(#eb7d09,#d77208);
    background-image: -moz-linear-gradient(#eb7d09,#d77208);
    background-image: -o-linear-gradient(#eb7d09,#d77208);
    background-image: linear-gradient(#eb7d09,#d77208);
}
button.btncolored, a.btncolored, input[type="reset"].btncolored, input[type="submit"].btncolored, input[type="button"].btncolored {
    background-color: #f68712;
    background-image: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f79126), color-stop(100%, #e17809));
    background-image: -webkit-linear-gradient(#f79126,#e17809);
    background-image: -moz-linear-gradient(#f79126,#e17809);
    background-image: -o-linear-gradient(#f79126,#e17809);
    background-image: linear-gradient(#f79126,#e17809);
    border-color: #eb7d09 #d77208 #c36807;
    color: #fff;
    font-weight: 700;
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
}
.tasks .paginator {
    margin: 10px 0;
}
.paginator {
    color: #222;
    float: right;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.paginator span {
    display: inline-block;
    font-weight: normal;
    margin: 2px 8px;
}
strong {
    font-weight: 700;
}
.tasks .tasks_wrapper {
    clear: both;
}
.task.pass, .task.state_completed {
    background-color: #71ab3c;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100, color-stop(0%, #beed93), color-stop(100%, #71ab3c));
    background-image: -moz-linear-gradient(top, #beed93 0px, #71ab3c 100px);
    background-image: -o-linear-gradient(top, #beed93 0px, #71ab3c 100px);
    background-image: linear-gradient(top, #beed93 0px,#71ab3c 100px);
}
.task {
    background-color: #f5f1ed;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100, color-stop(0%, #f5f1ed), color-stop(100%, #e3e0dc));
    background-image: -moz-linear-gradient(top, #f5f1ed 0px, #e3e0dc 100px);
    background-image: -o-linear-gradient(top, #f5f1ed 0px, #e3e0dc 100px);
    background-image: linear-gradient(top, #f5f1ed 0px,#e3e0dc 100px);
    border: 1px solid #e0dcd7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 0 0 5px;
    position: relative;
    overflow: visible;
}
.clearfix {
    zoom: 1;
}
.task .taskwrap {
    background-color: #fbfaf8;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100, color-stop(0%, #fff), color-stop(100%, #f5f1ed));
    background-image: -moz-linear-gradient(top, #fff 0px, #f5f1ed 100px);
    background-image: -o-linear-gradient(top, #fff 0px, #f5f1ed 100px);
    background-image: linear-gradient(top, #ffffff 0px,#f5f1ed 100px);
    border-bottom: 5px solid #fff;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,0.25) -1px 0 2px;
    -moz-box-shadow: rgba(0,0,0,0.25) -1px 0 2px;
    box-shadow: rgba(0,0,0,0.25) -1px 0 2px;
    padding-top: 20px;
}
a.taskcheckbox:visited {
    color: #a8a8a8;
    text-decoration: none;
}
a.taskcheckbox {
    color: #a8a8a8;
    display: block;
    float: left;
    font-size: 42px;
    font-weight: 400;
    margin: 0 15px 10px 18px;
    text-decoration: none;
}
a.taskcheckbox:before {
    -moz-mask-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.4) 0%, #000 100%);
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(100%, rgba(0,0,0,0.4)), to(rgba(0,0,0,0.4)));
}
a.taskcheckbox span {
    display: none;
}
.taskstatus::after {
  border-color: rgba(77, 77, 77, 0) rgba(77, 77, 77, 0) #45545f;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: " ";
  height: 0;
  left: 21px;
  margin-top: -11px;
  pointer-events: none;
  position: absolute;
  top: -5px;
  width: 0;
}
.taskstatus {
    width: 140px;
}
.taskpopover a {
    border-radius: 3px;
    color: #888;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding: 4px 10px 0 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.pointsandstatus {
    float: right;
    margin: -10px 10px 10px 0;
}
.pointsandstatus .taskpoints {
    margin-left: 5px;
}
.taskpoints {
    clear: right;
    float: right;
    margin: 0 0 10px 20px;
}
.taskpoints li.hint {
    display: block;
    height: auto;
    position: static;
    width: auto;
}
.taskpoints li {
    background: #dae8f2;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #edf5fa), color-stop(100%, #dae8f2));
    background-image: -webkit-linear-gradient(top, #edf5fa,#dae8f2);
    background-image: -moz-linear-gradient(top, #edf5fa,#dae8f2);
    background-image: -o-linear-gradient(top, #edf5fa,#dae8f2);
    background-image: linear-gradient(top, #edf5fa,#dae8f2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.4) 0 1px 2px;
    -moz-box-shadow: rgba(0,0,0,0.4) 0 1px 2px;
    box-shadow: rgba(0,0,0,0.4) 0 1px 2px;
    color: #768fa1;
    float: left;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    margin-left: 3px;
    min-width: 60px;
    padding: 8px 0;
    text-align: center;
    text-shadow: #fff 0 1px 0;
    text-transform: uppercase;
}
.hint {
    cursor: help;
    display: inline-block;
    font-size: 20px;
    padding-left: 3px;
    position: relative;
    width: 20px;
    font-style: normal;
}
.taskpoints li b {
    color: #768fa1;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.taskpoints li small {
    border-bottom: 1px solid #c3d0d9;
    -webkit-box-shadow: #edf5fa 0 1px 0;
    -moz-box-shadow: #edf5fa 0 1px 0;
    box-shadow: #edf5fa 0 1px 0;
    color: #92a5b3;
    display: block;
    font-size: 9px;
    margin-bottom: 7px;
    padding-bottom: 5px;
}
.taskpoints li.impactpoints {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #edf5fa));
    background-image: -webkit-linear-gradient(top, #ffffff,#edf5fa);
    background-image: -moz-linear-gradient(top, #ffffff,#edf5fa);
    background-image: -o-linear-gradient(top, #ffffff,#edf5fa);
    background-image: linear-gradient(top, #ffffff,#edf5fa);
}

.taskpoints li.hint {
    display: block;
    height: auto;
    position: static;
    width: auto;
}
.taskpoints li.impactpoints b {
    color: #0c4c7b;
    font-size: 24px;
    -moz-mask-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.6) 0%, #000 100%);
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(100%, rgba(0,0,0,0.6)), to(rgba(0,0,0,0.6)));
}
.taskpoints li.impactpoints small {
    -webkit-box-shadow: #fff 0 1px 0;
    -moz-box-shadow: #fff 0 1px 0;
    box-shadow: #fff 0 1px 0;
}
.task p {
    font-size: 14px;
    
}
.task.pass .taskstatuscheck, .task.state_completed .taskstatuscheck {
    color: #50782b;
    display: block;
}
.task .taskstatuscheck {
    display: none;
    font-size: 11px;
    font-weight: 700;
    padding: 0 0 0 26px;
}
.task.pass .taskstatuscheck[data-icon]:before, .task.state_completed .taskstatuscheck[data-icon]:before {
    color: #72ac3d;
    text-shadow: #fff 0 1px 0;
}
.task .taskstatuscheck[data-icon]:before {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 20px;
    font-weight: 400;
    margin-top: -3px;
    padding: 0 5px 0 0;
    text-transform: uppercase;
    vertical-align: middle;
}
[data-icon]:before {
    font-family: "pictosregular","pictosregulartwo","pictosregularthree";
    content: attr(data-icon);
    -webkit-font-smoothing: antialiased;
}
.taskfunctions {
    background-color: #fff;
    border-top: 1px solid #e0dcd7;
    border-right: 1px solid #e0dcd7;
    border-left: 1px solid #e0dcd7;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    margin: 18px 0 0 15px;
}
.taskfunctions li:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.tasks .bulk_container, .tasks .bulk_container_select_all {
    display: none;
    height: 26px;
    padding: 3px 8px;
}
.taskfunctions li {
    border-right: 1px solid #e0dcd7;
    float: left;
}
input[type="checkbox" i] {
    margin: 3px 3px 3px 4px;
}
input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}
input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
.taskfunctions li {
    border-right: 1px solid #e0dcd7;
    float: left;
}
.taskfunctions li a {
    color: #968d81;
    display: block;
    font-size: 10px;
    font-weight: 700;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
}
.taskfunctions li a[data-icon]:before {
    color: #b2aba3;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 20px;
    font-weight: 400;
    margin-top: -3px;
    padding-right: 5px;
    vertical-align: middle;
}
[data-icon]:before {
    font-family: "pictosregular","pictosregulartwo","pictosregularthree";
    content: attr(data-icon);
    -webkit-font-smoothing: antialiased;
}
.taskfunction_edit {
    display: inline-block;
    position: relative;
}
.taskfunction_edit .hint {
    cursor: pointer;
}
.taskfunction_edit a {
    display: block;
    left: 5px;
    position: absolute;
    top: -10px;
}
.taskfunctions li a:hover {
    color: #fff;
    text-decoration: none;
}
.tasks .tasks_wrapper {
    clear: both;
}
element.style {
    display: block;
}
.taskstatus::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(77, 77, 77, 0) rgba(77, 77, 77, 0) #45545f;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: " ";
    height: 0;
    left: 21px;
    margin-top: -11px;
    pointer-events: none;
    position: absolute;
    top: -5px;
    width: 0;
}
.taskstatus {
    width: 139px;
}
.taskpopover {
    background-color: #fff;
    border-radius: 3px;
    border-top: 5px solid #45545f;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    left: 12px;
    padding: 5px;
    position: absolute;
    top: 60px;
    z-index: 2;
}

.taskfunction {
  background-color: #fff;
  border-radius: 0;
  border-top: 1px solid #e0dcd7;
  box-shadow: none;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 15px;
  position: static;
  width: 100%;
}
.taskwrap .closepopover {
  color: red;
  float: right;
}