.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
  margin: 50px auto;
}
.users-table table thead th {
  background-color: #0071af;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}